<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio Steganography</title>
</head>
<body>
<div id= "speechContainer">
    <h1>Upload .wav File</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <br>
        <input type="submit" value="Submit" />  
        <br> 
        <label>Enter message to be encoded</label>
        <br>  
        <input type="text" name="message">
        <br>
        <input type="submit" value="Encode!" />  
    </form>
</div>
</body>
</html>