<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Steganography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
</head>
<body>
    <header>
        <h1>Audio Steganography</h1>
        <h2>Team 12</h2>
    </header>
    <article id= "speechContainer">
        <form method="POST" enctype="multipart/form-data">
            <section class="card"> 
                <input class="file-upload" type="file" name="file"/>
                <button class="file-upload-button" type="button">Choose file</button>
                <p class="file-upload-label"></p>
                <input type="submit" value="Submit" />  
            </section>
            <section class="card">
                <label for="message">
                    Enter message to be encoded
                </label>
                <input type="text" name="message">
                <input type="submit" value="Encode!" />  
            </section>
            <section class="card">
                <input class="file-upload" type="file" name="file"/>
                <button class="file-upload-button" type="button">Choose file</button>
                <p class="file-upload-label"></p>
                <input type="submit" value="Decode!" /> 
            </section>
        </form>
    </article>
    <p></p>
    <script>
        document.querySelectorAll('.file-upload-button').forEach(
            function(button) {
                const hiddenInput = button.parentElement.querySelector('.file-upload');
                const label = button.parentElement.querySelector('.file-upload-label');
                const defaultLabelText = 'No file selected';
                label.textContent = defaultLabelText;
                label.title = defaultLabelText;
                

                button.addEventListener('click', function(){
                    hiddenInput.click();
                })

                hiddenInput.addEventListener('change',function(){
                    const fileNameList = Array.from(hiddenInput.files).map(function(file){
                        return file.name;
                    });
                    label.textContent = fileNameList.join(', ') || defaultLabelText;
                    label.title = label.textContent;
                });
            }
        );        
    </script>
</body>
</html>